# dependencies
node_modules
.pnpm-store

# testing
coverage

# Windows Laptop files 

node.bat
npm.bat
pnpm.bat
run-node.bat
turbo.bat
setup-node.ps1
# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# turbo
.turbo

# typescript
*.tsbuildinfo